<%- include("header") %>

<main class="py-5 text-center">
  <div class="container">
    <h1 class="text-danger mb-3">There was an internal error</h1>
    <p>Something went wrong. Please try again or return to the homepage.</p>
    <a href="/" class="btn btn-primary mt-3">Go Home</a>
  </div>
</main>

<%- include("footer") %>
<script src="/js/index.js"></script>

